* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  outline: none;
}

html {
  position: relative;
  min-width: 1280px;
  min-height: 720px;
  height: 100%;
}

body {
  font-family: 'Helvetica';
  margin: 0;
  padding: 0;
  color: #111;
  background-color: yellow;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}


.wrapper {
  margin: 10px;
  padding: 20px;
  border: 8px solid red
}

.title h1 {
  color: red;
}

.navigation {
  margin: 0 0 20px 0;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
}

.navigation li {
  display: inline;
}

.home_image {
  float: left;
  margin-right: 20px;
  border: 8px solid red;
}

.content {
  float: right;
  width: 680px;
  font-size: 18px;
}

.content p {
  padding: 0;
  margin: 0
}

.footer {
  border-top: 1px solid red;
  padding-top: 10px;
  margin-top: 20px;
}
